[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
	ignore = untracked
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
	ignore = untracked
[submodule "vim/bundle/IndexedSearch"]
	path = vim/bundle/IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch.git
	ignore = untracked
[submodule "vim/bundle/autoclose"]
	path = vim/bundle/autoclose
	url = https://github.com/blueyed/vim-autoclose
	ignore = untracked
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/thisivan/vim-taglist.git
	ignore = untracked
[submodule "vim/bundle/ropevim"]
	path = vim/bundle/ropevim
	url = https://github.com/klen/rope-vim.git
	ignore = untracked
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
	ignore = untracked
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/leshill/vim-json.git
	ignore = untracked
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
	ignore = untracked
[submodule "vim/bundle/vim-ruby-refactoring"]
	path = vim/bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
	ignore = untracked
[submodule "vim/bundle/vim-rvm"]
	path = vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
	ignore = untracked
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
	ignore = untracked
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
	ignore = untracked
[submodule "vim/bundle/jslint.vim"]
	path = vim/bundle/jslint.vim
	url = https://github.com/hallettj/jslint.vim.git
	ignore = untracked
[submodule "vim/bundle/gyp.vim"]
	path = vim/bundle/gyp.vim
	url = https://github.com/kelan/gyp.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
