[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/YankRing"]
	path = vim/bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "vim/bundle/pythoncomplete"]
	path = vim/bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
	ignore = dirty
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/tabbar"]
	path = vim/bundle/tabbar
	url = https://github.com/vim-scripts/TabBar
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/IndexedSearch"]
	path = vim/bundle/IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "vim/bundle/autoclose"]
	path = vim/bundle/autoclose
	url = https://github.com/blueyed/vim-autoclose
	ignore = dirty
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/mexpolk/vim-taglist.git
	ignore = dirty
